/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */


.wp-block-scripture-verses-bible-verse {
    color: #a72828;
    font-family: 'Segoe UI Semilight', 'Selawik Semilight', sans-serif;
    margin-left: 1rem;
}

.wp-block-scripture-verses-bible-verse b {
    color: #212529;
}
