/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-scripture-verses-bible-verse {
    color: #972525;
    font-family: inherit;
    margin-left: 1rem;
}

.wp-block-scripture-verses-bible-verse b,
.wp-block-scripture-verses-bible-verse sup {
    color: #212529;
}